ul {
  list-style: none;
}

label {
  background-color: rgb(184,184,184);
  width: 200px;
  display: inline-block;
  height: 1.5em;
  top: 0px;
  position: relative;
  text-align: center;
  padding-top: 5px;
}

label.result {
  visibility: hidden;
}

#submit {
  position: relative;
  left: 250px;
  top: 10px;
}

#timer {
  font-size: 40px;
  font-weight: bold;
  width: 100px;
  padding-top: 10px;
  color: red;
}

#score {
  background-color: rgb(50,255,50);
  position: relative;
  left: 220px;
  top: 20px;
  padding-top: 5px;
}

#answers {
  position: relative;
  top: 40px;
  left: 150px;
  background-color: rgb(100,100,255);
  width: 350px;
  height: auto;
  text-align: left;
}
